.App {
  text-align: center;
}
body {
  margin: 0;
  background-color:hsl(202,92%,85%);;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
}